table {
  border-bottom: 1px solid #df2218;
  width: 100%;
}

th {
  background: gray;
  color: #fff;
  text-align: center;
}

td{
  color: #fff;
  text-align: center;
}


i{
  color: #fff;
}

.cliente {
  background: #fff;
}

.estado{
  background: #fff;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #d00;
}

i:hover{
  color: #d00;
}
.btn-group, .btn-group-vertical {
  margin-top: 620px;
  margin-bottom: 20px;
  margin-right: 150px;
    
  height: 50px;
  width: 30px;
  position: absolute; !important;
}